   /*  ***************  3.8 contact us ************************************************* */
    
   .form{
    border: 1px solid var(--bg2-color);
    padding: 80px 80px;
    height: 50%;
    background-color: var(--bg2-color);
    border-radius: 40px;
  
}
.form input,textarea{
    width: 443px;
height: 35px;    
    margin: 20px 0;
    border: 0;
    outline: 0;

  
}
.form input::-webkit-input-placeholder{
    text-align: center;
    font-size: 1.rem;
    color:#9f9f9f;
}
button{
    width: 300px;
height: 50px;  
background-color: var(--main-color);
color: var(--white-color);
font-size: 1.2rem;
cursor: pointer;
border: 0;
outline: 0;
}
label
{
    margin-right: 400px;
}
.map{
    margin-left: 20px;
   
}
.contact-title{
    font-size: 1.5rem;
}
.map .map-img img{
    width: 100%;
    height: 350px;
}
.contact-inf{
   text-align: left;
   padding: 5px 10px;
}
.contact-inf a i{
  padding: 10px 15px;
  color: var(--white-color);
  background-color:var(--black-color);
  transition: color .3s;
}
.contact-inf a i:hover{
background-color: var(--main-color);
}
/*****************end contact us section *************************/
