/* 3.1************************** main section ********************************** */
main{
    background-image: url(../images/background/pexels.webp);
    width: 100 vw;
    height: 75vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

p.descreption
{
    color: var(--white-color);
    padding: 10px 5px 0 0;
    padding-bottom: 25px;
    font-size: 1.3rem;
   
}
main .home-content{
    text-align: center;
margin: 25% 25%  0%  25%;
}
main .btn
{
    padding-top: 10px;
    min-width: 160px;

border: 0;
cursor: pointer;
font-size: 16px; 
}
main .btn-learn{
    background-color: #4545c8;
    color: var(--white-color);
        margin-left: 5px;
}
main .btn-start{
    color: #000000;
    background-color: var(--white-color);
    
}
main .opacity:hover{
    opacity: 0.5;
    transition: .4s;
}
/************************end main section******************************/

