/* 
1-commov styles
2-general styles 
3-sections 
    3.0 header
    3.1 home 
    3.2 about 
    3.3 portfolio
    3.4 services 
    3.5 prices 
    3.6 team 
    3.7 blog 
    3.8 contact 
    3.9 footer

 */

/* 1-common 
overlay
section header 
hover from left to right 
hover from to to down 

 */
 .clear{
     clear: both;
 }
 .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
   top: 0;
   left: 0;
    background-color: rgba(0,0,0,0.6);

}
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 2- general  */   

h1,h2,h3,h4,h5,h6{
    color: white;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    word-spacing: 5px;
    font-size: 3.5rem;
    
}
.pdy{
    padding: 120px 0;
}
a{
    text-decoration: none;
}
section{
    text-align: center;
   
}
.about .about-header{
    color: black;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.line {
    display: block;
    background-color: #6195ff;
    width: 70px;
    height: 4px;
   margin: auto;
}
.about-items.ltr{
    position: relative;
}
.about-items.ltr::after{
    position: absolute;
    content: "";
    width:0;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: -1; 
    background: rgba(0, 0, 0, 0.7);
    transition: .7s;
    border-radius: 70px;

}


.about-items.ltr:hover::after{
   
   width: 100%;
    
}

.about-items:hover .about-item-title{
    color: white;
}
.container{
    display: flex;
    width: 80%;
    margin: auto;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* 3.0-header */

header{
    position: fixed; /* fixed and abslote convert elemnt from block to inline block to solve thise but width 100%*/
    z-index: 5;
    width: 100%;
    
    background: rgba(0, 0, 0, 0.4);

}
.blog-header{
    height: 80px;
}
header .logo {
    flex-basis: 40%;
   
}
header .logo img
{
    width: 100px ;
    height: 80px;
    border-radius: 30px;    
}
header nav{
    flex-basis: 60%;
text-align: right;
}

nav ul li  {
    list-style: none;
    display: inline;




}
nav >ul > li> a{
   
    color:white;
    padding: 30px 15px ;
    display: inline-flex;
    font-size: 15px;
    position: relative;
    flex-wrap: nowrap;
   
}
nav >ul> li> a.active::after{
    content: "";
    position: absolute;
    width:55%;
    height: 3px;
    top:  65px;
    background-color:#6195ff;
}
nav >ul >li >a::after{
    content: "";
    position: absolute;
    width:0;
    height: 3px;
    top:  65px;
    background-color:#6195ff;
}
nav >ul >li> a:hover::after{
    width:55%;
    transition: .5s;
}
.drop{
position: relative;
}
.drop-menu{
    position: absolute;
    background-color: #6195ff;
    width: 130px;
    text-align: center;
    left: -30%;
    top:30px;
    opacity: 0;
    visibility: hidden;
}
.drop-menu a{
    
    color: white;
display: block;
padding: 10px;
}
.drop:hover .drop-menu{
    opacity: 1;
    visibility: visible;
    transition: .7s;
}
    /* 3.1 home  */
    main{
        background-image: url(../images/background/pexels.webp);
        width: 100 vw;
        height: 75vw;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    p.descreption
    {
        color: white;
        padding: 10px 5px 0 0;
        padding-bottom: 25px;
        font-size: 1.3rem;
       
    }
    main .home-content{
        text-align: center;
margin: 25% 25%  0%  25%;
    }
    main .btn
    {
        padding-top: 10px;
        min-width: 160px;
        padding: 10px ;
    
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-size: 16px; 
    }
    main .btn-learn{
        background-color: #4545c8;
        color: white;
            margin-left: 5px;
    }
    main .btn-start{
        color: #000000;
        background-color: white;
        
    }
    main .opacity:hover{
        opacity: 0.5;
        transition: .4s;
    }

/*   3.2 about */
.about-content{
    display: flex;

}
  .about-item-title{
      color: black;
      font-size: 2rem;
    font-family: 'Poppins', sans-serif;
      text-transform: capitalize;
      margin-bottom: 5px;
  }
  .about-item-desc{
      line-height: 25px;
      margin-bottom: 5px;
      color: #999;
  }
.about-items{
    width: 30%;
  
}
  .about-items img{
      width: 100px;
      height: 100px;
  }
  .about-items.marg{
      margin:0 5% ;
      border: 1px solid #e8e8e8;
      padding: 20px 10px ;
    border-radius: 20%;
  }
  

    /* 3.3 portfolio*/
    .feat-title{
        color: black;
        text-transform: capitalize;
        margin-bottom: 5px;
        
    }
    .features{
        margin-top: 160px;
        padding-top: 100px;
        background-color: #f9f9f9;
    
    }
    .feat .feat-item{
        margin: 20px 20px 5px 20px;
    }
.feat .feat-item img{ 
    width: 500px;
   height: 300px;
   z-index: -1;
   border-radius: 50px;
}
.feat{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 60px;
    transition: (-50%,-50%);

}
.feat-item{
    position: relative;
    padding: 10px;
}
 .layer-content{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
    top: 20px;
    border-radius: 50px;

}
.feat-item:hover .layer-content{
    opacity: 1;
    visibility: visible;
    top:0;

}
.layer-content .layer-info {
    position: absolute;
    top:60%;
    left:25%;
    transition: translate(-50%,-50%);
    text-align: center;
    width: 50%;
   
}
.layer-content a{
    color: white;
    background-color: #6195ff;
    display: inline-flex;
    padding: 20px 0;
    border-radius: 30px;
    padding: 10px 25px;
}

  /*  3.4 our-cleints*/
  .clients-header{
    color: white;
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  .our-clients{
      background-color: rgb(4, 28, 52);
      margin-top: 100px;
     
  }
  .clients .client-item{
    display: inline-flex;
    margin: 40px 0 0 30px;
    width: 200px;
    height: 200px;
    transform: scale(1);
    transition: 0.5s ease-in-out;

  }
  .clients .client-item img{
      border-radius: 40px;
      cursor: pointer;
  }
  .clients .client-item:hover img{

    transform: scale(1.2);

  }

  /*why chhose us*/
  .choose-us{
      display: inline-flex;
      background-color: #f9f9f9;
      margin-top: 170px;
      margin-bottom: 170px;

  }
.choose-title{
    color: black;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.left{
    text-align: left;
    width: 50%;
    margin-left: 140px;
    padding-right: 40px;
}
.choose-head  .line
{
    margin: 0 0 50px 0 ;  
}
.left p{
    line-height: 1.3;
    padding-bottom: 20px;
}

.left .points{
    font-size: 2rem;
    font-weight: 2rem;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}
.left .points ul{
    list-style-type: none;
}
.points ul li i{
    color: #1cd2e2;
    padding-right: 10px;
}
.right img{
    width: 100%;
}
.right .bull{
    display: inline-flex;
    list-style-type: none;
   
}
.right .bull li{
    background-color: #9f9f9f;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50% ;
    cursor: pointer;
}
.right .bull li.active{
    background-color: blueviolet;
}
.right .bull li:hover{
    background-color: blueviolet;
    transition: .3s;

}
/*achievements*/

.goal-container
{
    background-image: url(../images/background/background2.webp);
    width: 100%;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin-bottom: 100px;

}
.goal-container .overlay{
display: flex;
}

.goal-container .goal-item{
    margin: auto;
}
.goal-container .goal-item i{
    color:#6195ff;
}
.goal-container .goal-item .number-item-text{
color: white;
text-transform: capitalize;
font-size: 1.5rem;
font-weight: 200;
}
  /*
    3.5 prices */
    .price-item.tb-effect{
        position: relative;
    }
    .price-item.tb-effect::after{
        position: absolute;
        content: "";
        height:0;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        z-index: -1; 
        background: rgba(0, 0, 0, 0.7);
        transition: .7s;
        border-radius: 20px;
    
    }
    
    
    .price-item.tb-effect:hover::after{
       
       height: 100%;
        
    }
    
    .price-item:hover .pr-title{
        color: white;
    }

.price-flex{
    display:flex ;
    margin: auto;
    margin-top: 25px;

}
.price-item{
    border: 1px solid #9f9f9f;
    padding: 40px 54px;
        margin: 0 20px;
    border-radius: 25px;

}
 .num-cost{
     color: black;
     font-size: 32px;
 }
 .price-item:hover .num-cost{
     color: white;
 }
 .price-item .cost{
    width: 130px;
    height: 130px;
    margin: 20px auto;
    padding: 20px 17px;
    border: 2px solid #6195ff;
    border-radius: 50%;
    text-align: center;
    transition: color 0.5s
 }
 .price-item .price-btn{
     padding: 10px 0;   
     text-align: center;
     font-size: 30px;
     margin-top: 10px ;
     border-radius: 30px;
     background-color: white;
     border-color: #6195ff;
     color:#6195ff ;
     cursor: pointer;
     border: 0;
     outline: 0;
     width: 150px;
 }


    /*
    3.6 team */
    .team-parent{
        display: flex;
        margin-top: 40px;

    }
    .member{
        padding: 40px 10px;
        background-color: rgb(230, 225, 225);
        border-radius: 20px;
        text-align: center;
        width: 30%;
position: relative;
    }
  
    .member.mg{
        margin: 0 20px 0 20px;
    }
    .member .team-info-title{
        color: black;
        font-family: Tahoma, sans-serif;
        font-size: 3rem;
    }
    .member .team-img {
        position: relative;
        margin: auto;
     }
   .team-img img{
       width: 100%;
       border-radius: 20px;
   }
     .team-img .overlay-img{
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         background-color: rgba(0, 0, 0, 0.5);
         opacity: 0;
         overflow: hidden;
         transition: .6s;
     }
     .team-img .overlay-img:hover{
        opacity: 1;
        overflow: visible;
        
     }
     .overlay-img a{
         display: flex;
         width: 40px;
         height: 40px;
         color: white;
         background-color:rgb(57, 104, 197);
    margin-left: auto;
border-radius: 50%;
margin-bottom: 2px;
     }
     .overlay-img a i{
         width: 100%;
         line-height: 40px;
        
     }
    .member.tb-effect{
        z-index: 1;
    }
    .price-item.tb-effect{
        position: relative;
    }
    .member.tb-effect::after{
        position: absolute;
        content: "";
        height:0;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        z-index: -1; 
        background: rgba(0, 0, 0, 0.9);
        transition: .7s;
        border-radius: 20px;
    
    }
    .member.tb-effect:hover::after{
       
       height: 100%;
        
    }
    .member:hover .team-info-title{
        color: white;
    }
    .member:hover .team-info-text{
        color: royalblue;
    }
    /*
    3.7 blog */
    .news{
  
    background-color: #f9f9f9;

    }
    .news-flex{
        display: flex;
     
        
    }
    .news-item img{
        width: 100%;
    }
    .news-item.marg{
 margin: 0 20px 0 20px;
    }
    .news-head {
        margin-bottom: 50px;
    }
    .news-item{
        border: 1px solid #e8e8e8;
        border-radius: 20px;
        padding: 30px;

    }
    .news-item ul{
        list-style-type: none;
        display: inline-flex;

    }
    .news-item ul li i{
        color: cornflowerblue;
        padding: 10px;

    }
    .news-content{
        font-size: 1rem;
        color: black;
       
    }

    .news-item span{
        color: cornflowerblue;
        padding: 10px;
        font-size: 1.3rem;
        cursor: pointer;
    }


 
    /*
    3.8 contact */
    .comtact-flex{
        display: flex;
        margin: auto;
    }
    .form{
        border: 1px solid #e8e8e8;
        padding: 80px 80px;
        height: 50%;
        background-color: #e8e8e8;
        border-radius: 40px;
      
    }
    .form input,textarea{
        border-radius: 10px ;
        width: 443px;
    height: 35px;    
        margin: 20px 0;
        border: 0;
        outline: 0;

      
    }
    .form input::-webkit-input-placeholder{
        text-align: center;
        font-size: 1.rem;
        color:#9f9f9f;
    }
    button{
        width: 300px;
    height: 50px;  
        border-radius: 10px ;
    background-color: rgb(28, 210, 226);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border: 0;
    outline: 0;
    }
   label
    {
        margin-right: 400px;
    }
    .map{
        margin-left: 20px;
       
    }
    .contact-title{
        font-size: 1.5rem;
    }
    .map .map-img img{
        width: 100%;
        height: 350px;
    }
 .contact-inf{
       text-align: left;
       padding: 5px 10px;
   }
   .contact-inf a i{
      padding: 10px 15px;
      color: white;
      background-color: black;
      border-radius: 50%;
      transition: color .3s;
   }
   .contact-inf a i:hover{
    background-color: #3968c5;
   }
    /*
    3.9 footer
 */
 footer{
     background-color: black;
     display: flex;
     position: relative;
   
 }
 footer .footer-logo img  {
    height: 100%;
    width: 15%;
    margin-left: 20%;
  
 }
 footer .footer-links {
     position: absolute;
     display: inline-flex;
     top:20%;
     left: 50%;
 }
 footer .footer-links a i{
     padding: 40px;
 background-color:#3968c5 ;
 color: white;
 border-radius: 20px;


 }
 footer .footer-links a:hover i{
    color:#3968c5 ;
    background-color: white;
    border-radius: 50%;
    transition: 0.5s;
 }
 footer .footer-links {
    list-style-type: none;
    
 }
 footer .footer-links  li a{
padding: 10px;
 }
 footer .copy{
     position: absolute;
    left: 60%;
    top: 85%;
    color: white;
 }
 footer .copy span{
     color: #4278e4;
     text-transform: capitalize;
 }
 /********************************* blog page ********************************/
 .bread-crumbs{
     display: flex;
     background-color: #fafafa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-family: varela round,sans-serif;
    padding: 120px 0 30px 0;
 }
 .bread-crumbs ul{
     list-style-type: none;
     display: inline-flex;
 }
 .blog-title h2{
     color: #000000;
     font-family: montserrat, sans-serif;
 }
 .bread-list{
     margin-left: 50%;
 }
 .bread-crumbs ul li{
     padding: 10px;
     font-size: 18px;

 }
 .bread-list ul li+li:before {
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  .bread-list ul li  {
    color: #0275d8;
    cursor: pointer;
  }
  .bread-list ul .now{
      color: #9f9f9f;
  }
  /* Add a color on mouse-over */
  .bread-list ul li:hover {
    color: #01447e;
    text-decoration: underline;
  }
  /**************** blog content ****************/
  .blog-content {
      display: flex;

  }
  .blog-content .big-left{
    width: 70%;
  }
  .blog-content h3{
    color: black;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .blog-content .big-left .notific {
      list-style-type: none;
      display: inline-flex;
      margin-left: -58%;
      padding: 10px 0 30px 0 ;
      }
      .blog-content .big-left .notific i{
        padding-left: 10px ;
        color: #6195ff;

      } 
      .blog-content .big-left .morbi{
        margin-left: -32%;
        font-size: 1.2rem;
        padding-bottom: 20px;
      }
      .big-left .anen{
          margin-left: 12%;
          text-align: left;
       width: 80%;
       color: #9f9f9f;
       margin-bottom: 30px;
      }
      .big-left .tags-content{
          display: inline-flex;
          margin-left: -12%;
          margin-bottom: 40px;
      }
      .big-left .tags-content ul{
          list-style-type: none;
          display: inline-flex;

      }
      .big-left .tags-content ul li{
        padding: 5px ;      
    font-size: 14px;
    border: 1px solid #efefef;
    margin: 0 5px;
    background-color: #e8e8e8;
    
    
      }
      .big-left .tags-content ul li i{
        color: #6195ff;

      }
      .big-left .tags-content ul li:hover{
        background-color: #8aa1cf;

      }
      .big-left .person{
          border: 2px solid #f9f9f9;
          display: inline-flex;
          border: 1px solid #f9f9f9;
          background: #fffcfc;
          display: inline-flex;
          border-radius: 30px;
          width: 80%;
      }
      .big-left .person ul{
          list-style-type: none;
          display: inline-flex;
          margin-left: 50%;
          margin-bottom: 10px;
          margin-top: 0;

      }
      .big-left .person ul li i{
      color: white;
      background-color: #6195ff;
      padding: 5px;
      margin-left: 2px;
      border-radius: 20%;
      transition: color .7s;

    }
    .big-left .person ul li i:hover{
        background-color: white;
        color: #6195ff;
    }
    .person-info{
        position: relative;
    }
      .big-left .person .name{
        position: absolute;
        top:10px;
        margin-left: 5px;
      }
      .big-left .person .person-dec{
        margin-left: 3%;
        text-align: left;
     width: 80%;
     color: #9f9f9f;
     margin-bottom: 30px;
      }
      .flex-info{
          display: inline;
          padding: 20px 0;
    
      }

      /********************************* right div *******************************/
      .big-right{
          width: 30%;
          margin-right: 30px;
      }
      .big-right .search-parent
      {
        height: 40px;
        width: 100%;
        border-radius: 3px;
        margin-bottom: 20px;
        background-color: #e8e8e8;
        border: 0;
        outline: 0;
        position: relative;

      }
      .big-right .search-child{
          position: absolute;
          right: 3%;
          margin-top: 10px;
        color: #6195ff;
      }
      .right-header {
          text-align: left;
          margin-bottom: 30px;  
      }
      .right-header span{
          margin-left: 0;
      }
      

      .category .cat {
       text-align: left;
       position: relative;
       padding:  5px;
       border-top: 1px solid rgb(235, 234, 234) ;
       border-bottom: 1px solid rgb(235, 234, 234) ;

       margin: 15px 0 25px 0;

      }
      .category .cat span{
          position: absolute;
        right: 10px;
        color: #6195ff;
        cursor: pointer;
      


      }
       
      .pos-content{
        width: 40%;
        float: left;
        
position: relative;
      }
      .pos-content img{
        width: 100%;
        margin-top: 12px;
    }
      
      .pos-content a {
        display: block;
        float: left;
        color: #354052;
        margin-left: 12px;
        margin-top: 12px;
      }
      .pos-content .history{
        display: block;
        float: left;
        margin-top: 12px;
        margin-left: 12px;
        font-size: 14px;
        text-transform: capitalize;
        color: #6195ff;
      }
      .pos-content  .pup-post{
          position: absolute;
          top: 0;
        left: 106%;
        text-align: left;
        width: 98px;
      }
      .last-tags .right-header{
        margin: 20px 0;
      } 

      .last-tags a{
        display: inline-flex;
        padding: 0px 13px;
        color: #10161a;
        font-size: 15px;
        margin: 2px;
        background-color: #f4f4f4;
        transition: .2s opacity;
        text-transform: capitalize;
        
      }
      .last-tags a:hover{
        background-color: #6195ff;
        color: white;

      }
      .tags-links{
    line-height: 53px;
   
      }
     /*********************leave a reply section *********************/
   
     .rebly-header h3{  
        color: black;
        font-size: 1.4rem;  
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        margin-left: 70px;
        margin-bottom: 5px;

     }
     .rebly-header span{
         margin-left: 70px;
     }
     .reply-form{
        
        width: 70%;
        margin-left: -30px;
        margin-top: 50px;
    
     }
     .reply-form input{
        background-color: #f4f4f4;
        border: 0;
        height: 50px;
        width: 400px;
        outline: 0;
       margin: 20px 10px ;
       border-radius: 5px;

     }
     .reply-form .text{
        background-color: #f4f4f4;
        width: 820px;
        height: 150px;
     }
     .reply-form .box1{
         margin-left: 10px;
     }
     .reply-form .submit{
        margin: 3px;
    color: #fff;
    font-size: 17px;
    padding: 10px 35px;
    background-color: #3968c5;
    border: none;
    border-radius: 3px;
    text-transform: capitalize;
    cursor: pointer;
    transition: opacity 0.3s; 
    margin-left: -65%;
    width: 125px;

     }
     